<!DOCTYPE html>
<html lang="fr"> <!--ajout de la langue, à rajouter sur tous les templates-->
<head>
    <meta charset="UTF-8"> <!--ajout de la balise UTF-8-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>ProsopoChartes {%block titre %}{%endblock%}</title>
    <style type="text/css">
    body  {
    background-position: center center;
    padding:8vh;
    background-image: url("../statics/Images/ENC.jpg");
    }
    </style><style type="text/css">
    body  {
    background-position: center center;
    padding:8vh;
    background-image: url("../statics/Images/ENC.jpg");
    }
    </style>
</head>
    <body>

      <nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href="{{ url_for('accueil') }}">ProsopoChartes</a>

        <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('chercheurs')}}">Chercheurs</a>
              </li>
        </ul>
        <form class="form-inline" action="{{url_for('recherche')}}" method="GET">
          <input class="form-control" name="keyword" type="search" placeholder="Recherche rapide" aria-label="Recherche">
          <button class="btn btn-info" type="submit">Rechercher</button>
        </form>
      </nav>
      {% block afternav %}{%endblock%}
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="row">
              <div class="col">
                {% for category, message in messages %}
                  <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
                {% endfor %}
              </div>
          </div>
          <div class="alert alert-primary" role="alert">A simple primary alert—check it out!</div>
          {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col">
            {% block corps %}{% endblock %}
            </div>
        </div>
      </div>
    </body>
</html>