{%extends "headerfooter.html"%}

{% block corps %}
    <div class="container">
    <div class="row" style="padding-top: 10%">
        <div class="col-2" >
        </div>
        <div class="col-7" >
        <h1 style="text-align:center">Bienvenue sur ProsoChartes !</h1>
        </div>
        <div class="col-3" >
        </div>

        </div>
    </div>
    <div class="row" style="padding-top:2%;">
        <div class="col-2" >
        </div>
        <div class="col-7" style="text-align:center;" >
            <h5 style="color: #fe2734; text-align: center;">"Prosopochartes" est une application Web visant à la consultation et à l'exploration d'une base prosopographique de chercheuses et chercheurs de l'École des Chartes.</h5>
            <p>Baladez-vous dans les notices des différents chercheurs, pour en savoir plus sur leurs parcours, les thèses qu'ils ont écrites, ou encore leurs domaines d'étude de prédilection. Tout ce que vous avez toujours rêvé de savoir sur leurs différents, mais non moins prestigieux parcours de vie, se trouve exposé ici. Qui sait peut-être en reconnaitrez-vous certains ou certaines ?</p>
        </div>
        <div class="col-3" >
        </div>
    </div>
        <div class="row" style="padding-top:5% ; padding-left: 10%">
        <div class="col-6" >
            <p>Cette application a été réalisée dans le cadre d'un travail des étudiantes du Master TNAH de l'École des Chartes.</p>
        </div>
        <div class="col-6" >
           <a href="http://www.chartes.psl.eu/"><img src="{{ url_for('static', filename='Images/ENC_Logo.png')}}" class="img-thumbnail"></a>
        </div>
    </div>
</div>
{% endblock %}