{%extends "headerfooter.html"%}

{% block corps %}

<h1>Ils travaillent ou ont travaillé pour l'École des Chartes</h1>

    {%if individus%}

            {% for individu in individus %}
                <div class ="container">
                    <div class="row">
                        <div class ="col-3">
                            {% if lien %}
                                <img src="{{ url_for('static', filename='Images/anonyme.jpg')}}" class="rounded-circle" style="width:150px; height:200px;">
                            {% else %}
                                <img src="{{individu.image_lien}}" class="rounded-circle" style="width:150px; height:200px;">
                            {% endif %}
                        </div>
                        <div class="col-8" >
                            {{ individu.image_lien }} - {{individu.prenom}}, {{ individu.nom }}

                        </div>
                        <div class="col-sm-1" style="background-color:#fe2734 " style="width:15px"></div>
                        </div>
                    <div class="row">
                        <div class="col-3">
                            ***
                        </div>
                    </div>
                </div>

            {% endfor %}


    {% endif %}
    <img src="{{ url_for('static', filename='Images/anonyme.jpg')}}" class="rounded-circle" style="width:150px; height:200px;">
{% endblock %}


