{%extends "headerfooter.html"%}
{% block corps %}

<!--Cette page contient un formulaire de recherche avancée dont les résultats sont ensuite affichés sur la page resultats_avances -->

		<div class = "container" id="formulaire-recherche-avancee" style="padding-top: 5%; padding-bottom: 5%">
			<h2>Formulaire de recherche avancée</h2>
			<form action="{{url_for('resultats_avances')}}" method="GET" id="recherche_form">

				<!--Ce premier champ de recherche est constitué d'un champ de recherche avancée similaire à celui présent dans notre barre de
                navigation.-->
                <div class="form-group">
					<label>Recherche plein texte dans tous les champs des notices</label>
					<input class="form-control" type="text" name="motclef" placeholder="Termes à rechercher">
				</div>

            <!--Cette partie de la recherche avancée est constituée de drop-downs : il semblait en effet plus pertinent de
            requêter par une liste de valeurs proposées les tables comportant peu de valeurs différentes.-->

				<div class="form-group">
					<label>Diplôme</label>
					<select class="form-control" name="diplome">
                        <option value="all">Sélectionner une valeur</option>
						{% for diplome in diplomes %}
                   			<option value="{{diplome.diplome_label}}">{{diplome.diplome_label}}</option>
               			{% endfor %}
						<!-- Ce type de boucle nous permet de générer une liste déroulante avec toutes les valeurs du champ
						diplome_label ; le même principe s'applique pour les champs du formulaire ci-dessous -->
					</select>
				</div>

				<div class="form-group">
					<label>Distinction</label>
					<select class="form-control" name="distinction">
                         <option value="all">Sélectionner une valeur</option>
						{% for distinction in distinctions %}
                   			<option value="{{distinction.distinction_label}}">{{distinction.distinction_label}}</option>
               			{% endfor %}
					</select>
				</div>

				<div class="form-group">
					<label>Domaine d'activité</label>
					<select class="form-control" name="domaine_activite">
                         <option value="all">Sélectionner une valeur</option>
						{% for activite in activites %}
                   			<option value="{{activite.domaine_label}}">{{activite.domaine_label}}</option>
               			{% endfor %}
					</select>
				</div>

				<div class="form-group">
					<label>Pays de nationalité</label>
					<select class="form-control" name="pays">
                    <option value="all">Sélectionner une valeur</option>
						{% for pa in pays %}
                   			<option value="{{pa.pays_label}}">{{pa.pays_label}}</option>
               			{% endfor %}
					</select>
				</div>

				<div class="form-group">
					<label>Occupation</label>
					<select class="form-control" name="occupations">
                        <option value="all">Sélectionner une valeur</option>
						{% for occupation in occupations %}
                   			<option value="{{occupation.occupation_label}}">{{occupation.occupation_label}}</option>
               			{% endfor %}
					</select>
				</div>

        <!--Fin de la recherche via des drop-downs -->

        <!--Notre formulaire de requête avancée contient également une partie de recherche plein texte
         pour rechercher et ainsi filtrer en fonction des dates (naissance, mort, soutenance de thèse).-->

				<div class="form-group">
					<label>Date de naissance</label>
					<div class="form-group row">
						<div class=" form-group col">
							<input type="text" class="form-control" placeholder="après..." name="naissanceMin">
						</div>
						<div class="form-group col">
							<input type="text" class="form-control" placeholder="en..." name="naissanceExacte">
						</div>
						<div class="form-group col">
							<input type="text" class="form-control" placeholder="avant..." name="naissanceMax">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Date de mort</label>
					<div class="form-group row">
						<div class="form-group col">
							<input type="text" class="form-control" placeholder="après..." name="mortMin">
						</div>
						<div class="form-group col">
							<input type="text" class="form-control" placeholder="en..." name="mortExacte">
						</div>
						<div class="form-group col">
							<input type="text" class="form-control" placeholder="avant..." name="mortMax">
						</div>
					</div>
				</div>

            <!--Afin de pouvoir requêter de manière plus confortable dans le titre des thèses, nous avons choisi d'utiliser à cet endroit un
             formulaire de recherche plein-texte-->

				<div class="form-group">
					<label for="recherche-plein-texte-theses">Thèse de l'École des chartes</label>
					<input class="form-control" type="text" id="recherche-plein-texte-theses" placeholder="Termes à rechercher" name="theseLabel">
				</div>
				<div class="form-group">
					<label>Date de soutenance de thèse</label>
					<div class="form-group row">
						<div class="form-group col">
							<input type="text" class="form-control" placeholder="après..." name="theseMin">
						</div>
						<div class="form-group col">
							<input type="text" class="form-control" placeholder="en..." name="theseExacte">
						</div>
						<div class="form-group col">
							<input type="text" class="form-control" placeholder="avant..." name="theseMax">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label>Ordonner les résultats :</label>
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
  					<label class="btn btn-light active">
    					<input type="radio" id="ordre-alpha-asc" autocomplete="on">A - Z
					</label>
  					<label class="btn btn-light">
    					<input type="radio" name="desc" id="ordre-alpha-desc" autocomplete="off">Z - A
  					</label>
				</div>
				</div>

				<button type="submit" class="btn btn-info btn-lg btn-responsive" id="search">Rechercher</button>


			</form>
		</div>
	{% endblock %}
