{%extends "headerfooter.html"%}

{% block titre %}| {{titre}}{%endblock%}

{% block corps %}

    <div class="container">
        <div class="row" style="padding-top:5%;">
    {% if resultats %}
        <div class="media">
            <img src="../../statics/Images/logochartes.jpg" class="align-self-start mr-3" alt="...">
            <div class="media-body"/>
        </div>
        </div>
        <div class="container" style="padding-top:5%;">
            <h3>{{titre}}</h3>
            <p>Nous avons trouvé {{resultats.total}} chercheurs dans notre base qui correspondent à votre recherche.</p>
        <ul>
            {% for individu in resultats.items %}
                <li><a href="{{ url_for('noticechercheur', individu_id=individu.id) }}">{{individu.nom}} {{individu.prenom}}</a></li>
            {% endfor %}
        </ul>
    <nav aria-label="research-pagination">
      <ul class="pagination">
        {%- for page in resultats.iter_pages()%}
            {% if page %}
              {% if page != resultats.page %}
                <li class="page-item">
                 <!-- Il faut déclarer dans notre url_for la page où l'on affiche les résultats, mais également toutes les variables qui ont été récoltées via la fonction .request dans notre
                définition de fonction, similaire à ce que nous avions fait en instanciation de la fonction.-->
                    <a class="page-link" href="{{ url_for('resultats', motclef=motclef, page=page) }}">{{page}}</a>
                </li>
              {% else %}
                <li class="page-item active disabled">
                  <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                </li>
              {% endif %}
            {% else %}
                <li class="page-item disabled">
                  <a class="page-link">...</a>
                </li>
            {% endif %}
        {%- endfor %}
      </ul>
    </nav>
    {% endif %}
    </div>

    </div>

{% endblock %}